<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Minimize Energy : A Component of the Hierarchical Equilibration Strategy for Polymer Melts &#8212; E-CAM Software Library 0.1 documentation</title>
    
    <link rel="stylesheet" href="../../../../../_static/classic.css" type="text/css" />
    <link rel="stylesheet" href="../../../../../_static/pygments.css" type="text/css" />
    
    <script type="text/javascript">
      var DOCUMENTATION_OPTIONS = {
        URL_ROOT:    '../../../../../',
        VERSION:     '0.1',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE:  true,
        SOURCELINK_SUFFIX: '.txt'
      };
    </script>
    <script type="text/javascript" src="../../../../../_static/jquery.js"></script>
    <script type="text/javascript" src="../../../../../_static/underscore.js"></script>
    <script type="text/javascript" src="../../../../../_static/doctools.js"></script>
    <link rel="shortcut icon" href="../../../../../_static/ecam_logo.ico"/>
    <link rel="index" title="Index" href="../../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../../search.html" />
    <link rel="next" title="Hierarchical Strategy for Simple One-Component Polymer Melts: constrain-com" href="../constrain-com/readme.html" />
    <link rel="prev" title="Hierarchical Strategy for Simple One-Component Polymer Melts: md-softblob" href="../md-softblob/readme.html" /> 
  </head>
  <body role="document">
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../../genindex.html" title="General Index"
             accesskey="I">index</a></li>
        <li class="right" >
          <a href="../constrain-com/readme.html" title="Hierarchical Strategy for Simple One-Component Polymer Melts: constrain-com"
             accesskey="N">next</a> |</li>
        <li class="right" >
          <a href="../md-softblob/readme.html" title="Hierarchical Strategy for Simple One-Component Polymer Melts: md-softblob"
             accesskey="P">previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../../../../index.html">E-CAM Software Library 0.1 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="../../../../index.html" accesskey="U">Meso- and Multi-scale Modules</a> &#187;</li> 
      </ul>
    </div>  

    <div class="document">
      <div class="documentwrapper">
        <div class="bodywrapper">
          <div class="body" role="main">
            
  <div class="section" id="minimize-energy-a-component-of-the-hierarchical-equilibration-strategy-for-polymer-melts">
<span id="components-minimizeenergy"></span><h1>Minimize Energy : A Component of the Hierarchical Equilibration Strategy for Polymer Melts<a class="headerlink" href="#minimize-energy-a-component-of-the-hierarchical-equilibration-strategy-for-polymer-melts" title="Permalink to this headline">¶</a></h1>
<div class="sidebar">
<p class="first sidebar-title">Software Technical Information</p>
<p>The information in this section describes ESPResSo++ as a whole.
Information specific to the additions in this module are in subsequent
sections.</p>
<dl class="last docutils">
<dt>Languages:</dt>
<dd>Python (2.7) and C++</dd>
<dt>Documentation Tools:</dt>
<dd>Sphinx and Doxygen</dd>
<dt>Application Documentation:</dt>
<dd><a class="reference external" href="http://espressopp.github.io/">http://espressopp.github.io/</a></dd>
<dt>Relevant Training Material:</dt>
<dd><a class="reference external" href="https://github.com/espressopp/espressopp/tree/master/examples">https://github.com/espressopp/espressopp/tree/master/examples</a></dd>
<dt>Licence</dt>
<dd>GNU General Public License</dd>
</dl>
</div>
<div class="contents local topic" id="contents">
<ul class="simple">
<li><a class="reference internal" href="#purpose-of-module" id="id4">Purpose of Module</a></li>
<li><a class="reference internal" href="#background-information" id="id5">Background Information</a></li>
<li><a class="reference internal" href="#testing" id="id6">Testing</a></li>
<li><a class="reference internal" href="#source-code" id="id7">Source Code</a></li>
<li><a class="reference internal" href="#references" id="id8">References</a></li>
</ul>
</div>
<p>The module is an implementation of a part of a hierarchical strategy
<a class="footnote-reference" href="#id3" id="id1">[1]</a> for the equilibration of simple one-component polymer melts in
ESPResSO++.</p>
<div class="section" id="purpose-of-module">
<h2><a class="toc-backref" href="#id4">Purpose of Module</a><a class="headerlink" href="#purpose-of-module" title="Permalink to this headline">¶</a></h2>
<p>To study the properties of polymer melts by numerical simulations,
equilibrated configurations must be prepared. However, the relaxation
time for high molecular weight polymer melts is huge and increases,
according to reptation theory, with the third power of the molecular
weight. Hence, an effective method for decreasing the equilibration
time is required. The hierarchical strategy pioneered in Ref. <a class="footnote-reference" href="#id3" id="id2">[1]</a> is
a particularly suitable way to do this. The present module provides
a part of that method.</p>
<p>When the microscopic monomers are re-inserted into the soft blobs, the
polymer configurations should satisfy a local energy minimum
to avoid overlap between particles.
This module provides a steepest-descent method &lt;<a class="reference external" href="https://en.wikipedia.org/wiki/Gradient_descent">https://en.wikipedia.org/wiki/Gradient_descent</a>&gt;`_
which is a typical energy minimization method.</p>
<p>This module is a modification of the already existing class <cite>espressopp.integrator.MinimizeEnergy</cite>. The modifications are as follows:</p>
<ol class="arabic simple">
<li>Corrected the procedure of particle redistribution to cells.</li>
<li>A variable relaxation of the energy per step <div class="system-message">
<p class="system-message-title">System Message: WARNING/2 (<tt class="docutils">\gamma</tt>)</p>
latex exited with error
[stderr]

kpathsea: Running mktexfmt latex.fmt
mktexfmt: mktexfmt is using the following fmtutil.cnf files (in precedence order):
mktexfmt:   /usr/share/texmf/web2c/fmtutil.cnf
mktexfmt:   /usr/share/texlive/texmf-dist/web2c/fmtutil.cnf
mktexfmt: mktexfmt is using the following fmtutil.cnf file for writing changes:
mktexfmt:   /home/ffrancesco/.texlive2017/texmf-config/web2c/fmtutil.cnf
mktexfmt [INFO]: writing formats under /home/ffrancesco/.texlive2017/texmf-var/web2c
mktexfmt [INFO]: did not find entry for byfmt=latex, skipped
mktexfmt [INFO]: Not selected formats: 27
mktexfmt [INFO]: Total formats: 27
mktexfmt [INFO]: exiting with status 0

[stdout]
This is pdfTeX, Version 3.14159265-2.6-1.40.18 (TeX Live 2017/Debian) (preloaded format=latex)
 restricted \write18 enabled.
I can&#8217;t find the format file `latex.fmt&#8217;!
</div>
 is implemented.
In this case, the position of particles is updated following the equation:
.. math::
p_{i+1} = p_i + (d_{max}/f_{max}) F_i
where <div class="system-message">
<p class="system-message-title">System Message: WARNING/2 (<tt class="docutils">d_{max}</tt>)</p>
latex exited with error
[stderr]

kpathsea: Running mktexfmt latex.fmt
mktexfmt: mktexfmt is using the following fmtutil.cnf files (in precedence order):
mktexfmt:   /usr/share/texmf/web2c/fmtutil.cnf
mktexfmt:   /usr/share/texlive/texmf-dist/web2c/fmtutil.cnf
mktexfmt: mktexfmt is using the following fmtutil.cnf file for writing changes:
mktexfmt:   /home/ffrancesco/.texlive2017/texmf-config/web2c/fmtutil.cnf
mktexfmt [INFO]: writing formats under /home/ffrancesco/.texlive2017/texmf-var/web2c
mktexfmt [INFO]: did not find entry for byfmt=latex, skipped
mktexfmt [INFO]: Not selected formats: 27
mktexfmt [INFO]: Total formats: 27
mktexfmt [INFO]: exiting with status 0

[stdout]
This is pdfTeX, Version 3.14159265-2.6-1.40.18 (TeX Live 2017/Debian) (preloaded format=latex)
 restricted \write18 enabled.
I can&#8217;t find the format file `latex.fmt&#8217;!
</div>
 is the maximum update of particle coordinates
in a single steepest-descent step and <div class="system-message">
<p class="system-message-title">System Message: WARNING/2 (<tt class="docutils">\gamma</tt>)</p>
latex exited with error
[stderr]

kpathsea: Running mktexfmt latex.fmt
mktexfmt: mktexfmt is using the following fmtutil.cnf files (in precedence order):
mktexfmt:   /usr/share/texmf/web2c/fmtutil.cnf
mktexfmt:   /usr/share/texlive/texmf-dist/web2c/fmtutil.cnf
mktexfmt: mktexfmt is using the following fmtutil.cnf file for writing changes:
mktexfmt:   /home/ffrancesco/.texlive2017/texmf-config/web2c/fmtutil.cnf
mktexfmt [INFO]: writing formats under /home/ffrancesco/.texlive2017/texmf-var/web2c
mktexfmt [INFO]: did not find entry for byfmt=latex, skipped
mktexfmt [INFO]: Not selected formats: 27
mktexfmt [INFO]: Total formats: 27
mktexfmt [INFO]: exiting with status 0

[stdout]
This is pdfTeX, Version 3.14159265-2.6-1.40.18 (TeX Live 2017/Debian) (preloaded format=latex)
 restricted \write18 enabled.
I can&#8217;t find the format file `latex.fmt&#8217;!
</div>

is adjusted via <div class="system-message">
<p class="system-message-title">System Message: WARNING/2 (<tt class="docutils">\gamma=d_{max}/f_{max}</tt>)</p>
latex exited with error
[stderr]

kpathsea: Running mktexfmt latex.fmt
mktexfmt: mktexfmt is using the following fmtutil.cnf files (in precedence order):
mktexfmt:   /usr/share/texmf/web2c/fmtutil.cnf
mktexfmt:   /usr/share/texlive/texmf-dist/web2c/fmtutil.cnf
mktexfmt: mktexfmt is using the following fmtutil.cnf file for writing changes:
mktexfmt:   /home/ffrancesco/.texlive2017/texmf-config/web2c/fmtutil.cnf
mktexfmt [INFO]: writing formats under /home/ffrancesco/.texlive2017/texmf-var/web2c
mktexfmt [INFO]: did not find entry for byfmt=latex, skipped
mktexfmt [INFO]: Not selected formats: 27
mktexfmt [INFO]: Total formats: 27
mktexfmt [INFO]: exiting with status 0

[stdout]
This is pdfTeX, Version 3.14159265-2.6-1.40.18 (TeX Live 2017/Debian) (preloaded format=latex)
 restricted \write18 enabled.
I can&#8217;t find the format file `latex.fmt&#8217;!
</div>
 where <div class="system-message">
<p class="system-message-title">System Message: WARNING/2 (<tt class="docutils">f_{max}</tt>)</p>
latex exited with error
[stderr]

kpathsea: Running mktexfmt latex.fmt
mktexfmt: mktexfmt is using the following fmtutil.cnf files (in precedence order):
mktexfmt:   /usr/share/texmf/web2c/fmtutil.cnf
mktexfmt:   /usr/share/texlive/texmf-dist/web2c/fmtutil.cnf
mktexfmt: mktexfmt is using the following fmtutil.cnf file for writing changes:
mktexfmt:   /home/ffrancesco/.texlive2017/texmf-config/web2c/fmtutil.cnf
mktexfmt [INFO]: writing formats under /home/ffrancesco/.texlive2017/texmf-var/web2c
mktexfmt [INFO]: did not find entry for byfmt=latex, skipped
mktexfmt [INFO]: Not selected formats: 27
mktexfmt [INFO]: Total formats: 27
mktexfmt [INFO]: exiting with status 0

[stdout]
This is pdfTeX, Version 3.14159265-2.6-1.40.18 (TeX Live 2017/Debian) (preloaded format=latex)
 restricted \write18 enabled.
I can&#8217;t find the format file `latex.fmt&#8217;!
</div>
 is
the maximum force in a single step.</li>
</ol>
<p>These modifications significantly stabilize the procedure of redistributing particles
to cells, and any value <div class="system-message">
<p class="system-message-title">System Message: WARNING/2 (<tt class="docutils">d_{max}</tt>)</p>
latex exited with error
[stderr]

kpathsea: Running mktexfmt latex.fmt
mktexfmt: mktexfmt is using the following fmtutil.cnf files (in precedence order):
mktexfmt:   /usr/share/texmf/web2c/fmtutil.cnf
mktexfmt:   /usr/share/texlive/texmf-dist/web2c/fmtutil.cnf
mktexfmt: mktexfmt is using the following fmtutil.cnf file for writing changes:
mktexfmt:   /home/ffrancesco/.texlive2017/texmf-config/web2c/fmtutil.cnf
mktexfmt [INFO]: writing formats under /home/ffrancesco/.texlive2017/texmf-var/web2c
mktexfmt [INFO]: did not find entry for byfmt=latex, skipped
mktexfmt [INFO]: Not selected formats: 27
mktexfmt [INFO]: Total formats: 27
mktexfmt [INFO]: exiting with status 0

[stdout]
This is pdfTeX, Version 3.14159265-2.6-1.40.18 (TeX Live 2017/Debian) (preloaded format=latex)
 restricted \write18 enabled.
I can&#8217;t find the format file `latex.fmt&#8217;!
</div>
 less than half the skin parameter of the Verlet
list can be used.</p>
</div>
<div class="section" id="background-information">
<h2><a class="toc-backref" href="#id5">Background Information</a><a class="headerlink" href="#background-information" title="Permalink to this headline">¶</a></h2>
<p>The implementation of this module is based on ESPResSO++. You can
learn about ESPResSO++ from the following links:</p>
<ul class="simple">
<li>ESPResSO++ documentation: <a class="reference external" href="http://espressopp.github.io/ESPResSo++.pdf">http://espressopp.github.io/ESPResSo++.pdf</a></li>
<li>ESPResSO++ source code: <a class="reference external" href="https://github.com/espressopp/espressopp">https://github.com/espressopp/espressopp</a></li>
</ul>
</div>
<div class="section" id="testing">
<h2><a class="toc-backref" href="#id6">Testing</a><a class="headerlink" href="#testing" title="Permalink to this headline">¶</a></h2>
<p>Explanation of installation:</p>
<ul class="simple">
<li><a class="reference external" href="https://github.com/espressopp/espressopp">https://github.com/espressopp/espressopp</a></li>
</ul>
<p>After installing this module, it can be tested by a Python script
found under the following link:</p>
<ul class="simple">
<li><a class="reference external" href="https://github.com/espressopp/espressopp/tree/master/testsuite/minimize_energy">https://github.com/espressopp/espressopp/tree/master/testsuite/minimize_energy</a></li>
</ul>
</div>
<div class="section" id="source-code">
<h2><a class="toc-backref" href="#id7">Source Code</a><a class="headerlink" href="#source-code" title="Permalink to this headline">¶</a></h2>
<p>This module has been merged into ESPResSo++:</p>
<ul class="simple">
<li><a class="reference external" href="https://github.com/espressopp/espressopp/pull/89">https://github.com/espressopp/espressopp/pull/89</a></li>
<li><a class="reference external" href="https://github.com/espressopp/espressopp/pull/90">https://github.com/espressopp/espressopp/pull/90</a></li>
</ul>
</div>
<div class="section" id="references">
<h2><a class="toc-backref" href="#id8">References</a><a class="headerlink" href="#references" title="Permalink to this headline">¶</a></h2>
<table class="docutils footnote" frame="void" id="id3" rules="none">
<colgroup><col class="label" /><col /></colgroup>
<tbody valign="top">
<tr><td class="label">[1]</td><td><em>(<a class="fn-backref" href="#id1">1</a>, <a class="fn-backref" href="#id2">2</a>)</em> : <a class="reference external" href="http://pubs.acs.org/doi/abs/10.1021/mz5000015">http://pubs.acs.org/doi/abs/10.1021/mz5000015</a></td></tr>
</tbody>
</table>
</div>
</div>


          </div>
        </div>
      </div>
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
            <p class="logo"><a href="../../../../../index.html">
              <img class="logo" src="../../../../../_static/ecam_logo.png" alt="Logo"/>
            </a></p>
  <h3><a href="../../../../../index.html">Table Of Contents</a></h3>
  <ul>
<li><a class="reference internal" href="#">Minimize Energy : A Component of the Hierarchical Equilibration Strategy for Polymer Melts</a><ul>
<li><a class="reference internal" href="#purpose-of-module">Purpose of Module</a></li>
<li><a class="reference internal" href="#background-information">Background Information</a></li>
<li><a class="reference internal" href="#testing">Testing</a></li>
<li><a class="reference internal" href="#source-code">Source Code</a></li>
<li><a class="reference internal" href="#references">References</a></li>
</ul>
</li>
</ul>

  <h4>Previous topic</h4>
  <p class="topless"><a href="../md-softblob/readme.html"
                        title="previous chapter">Hierarchical Strategy for Simple One-Component Polymer Melts: md-softblob</a></p>
  <h4>Next topic</h4>
  <p class="topless"><a href="../constrain-com/readme.html"
                        title="next chapter">Hierarchical Strategy for Simple One-Component Polymer Melts: constrain-com</a></p>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../../_sources/Meso-Multi-Scale-Modelling-Modules/modules/hierarchical-strategy/components/minimize-energy/readme.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
<div id="searchbox" style="display: none" role="search">
  <h3>Quick search</h3>
    <form class="search" action="../../../../../search.html" method="get">
      <div><input type="text" name="q" /></div>
      <div><input type="submit" value="Go" /></div>
      <input type="hidden" name="check_keywords" value="yes" />
      <input type="hidden" name="area" value="default" />
    </form>
</div>
<script type="text/javascript">$('#searchbox').show(0);</script>
        </div>
      </div>
      <div class="clearer"></div>
    </div>
    <div class="related" role="navigation" aria-label="related navigation">
      <h3>Navigation</h3>
      <ul>
        <li class="right" style="margin-right: 10px">
          <a href="../../../../../genindex.html" title="General Index"
             >index</a></li>
        <li class="right" >
          <a href="../constrain-com/readme.html" title="Hierarchical Strategy for Simple One-Component Polymer Melts: constrain-com"
             >next</a> |</li>
        <li class="right" >
          <a href="../md-softblob/readme.html" title="Hierarchical Strategy for Simple One-Component Polymer Melts: md-softblob"
             >previous</a> |</li>
        <li class="nav-item nav-item-0"><a href="../../../../../index.html">E-CAM Software Library 0.1 documentation</a> &#187;</li>
          <li class="nav-item nav-item-1"><a href="../../../../index.html" >Meso- and Multi-scale Modules</a> &#187;</li> 
      </ul>
    </div>
    <div class="footer" role="contentinfo">
        &#169; Copyright 2017, E-CAM Centre of Excellence.
      Created using <a href="http://sphinx-doc.org/">Sphinx</a> 1.5.6.
    </div>
  </body>
</html>