Simple test

temperature 1.0
cutoff 1.0

timestep 0.01
steps 1100
equilibration steps 100
trajectory 100 100 0
stats every 100
stack size 100
print every 100
job time 100.0
close time 10.0

ensemble nvt mdvv

nfold  1  1  1
#vol 1.0
conf zero
#surface hard z

finish
